#body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12;
    color: black;
    height: 200%;
    background-color: black
}
#banner
{
    font-size: 15;
    background-color: red;
    color: white;
    height:125px;
}
#menu{
    padding: 20px;
    margin:20px;
    float: left;
    background-color: grey;
    width:200px;
    height:200px;
}
#icerik{
    padding: 20px;
    background-color: grey;
    font:brown;
    float: right;
    height:150px;
}